<header>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      
        <div class="navbar-menu">
            
          <div class="navbar-start">
            <a class="navbar-item <%= path === '/' ? 'is-active' : '' %>" href="/">Wish-List</a>
      
            <a class="navbar-item <%= path === '/admin' ? 'is-active' : '' %>" href="admin/add-wish">Add Item
            </a>
            
        </div>
      </nav>
        <!--ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Main</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-wish' ? 'active' : '' %>" href="/admin/add-wish">Add Item
                </a>
            </li>
        </ul-->


</header>